<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/style.css" />
    <title>City Wheels Driving School</title>
  </head>
  <body>
    <div class="container">
      <%- include('./partials/_header.ejs') %>

      <main>
        <div class="main-container">
          <div>
            <h2 class="title-of-job">Sign In to View Dashboard</h2>
          </div>
          <div class="admin-container">
            <form action="/login" method="POST">
              <div class="item">
                <label for="username">Username</label>
                <input
                  type="text"
                  name="username"
                  id="user"
                  placeholder="Username"
                  required
                />
              </div>
              <div class="item">
                <label for="password">Password</label>
                <input
                  type="password"
                  name="password"
                  id="pass"
                  placeholder="Password"
                  required
                />
              </div>
              <div class="btn">
                <button type="submit">Sign In</button>
              </div>
            </form>
          </div>
        </div>
      </main>
      <div class="watermark">
        <img src="/public/images/logo2.png" alt="City Wheels watermark" />
      </div>
    </div>
  </body>
</html>
